#friends-display-link {
  text-align: center;
  display: block;
  opacity: 30%;
  padding: 10px 0px;
  background-color: var(--mint);
  color: inherit;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -10px;
  z-index: 99;
}

#friends-display-link i {
  color: inherit;
  padding: 6px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid lightgray;
  padding-top: 5px;
}
.friends-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: lightgray;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
    z-index: 0;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--beige);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  color: bisque;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1.5s;
}
